* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-image: url(../assets/bg3.jpg);
}

.box {
  box-shadow: 10px 10px 66px rgba(207, 207, 207, 0.5019607843);
  width: 90vw;
  height: 85vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}
.box .forms {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.box .forms .form-wrapper {
  width: 50%;
}
.box .forms .form-wrapper .title {
  font-size: 20px;
  margin: 5% 0;
}
.box .forms .form-wrapper .title h1 {
  margin: 6px, 0;
}
.box .forms .form-wrapper .title span {
  color: #bfbfbf;
}
.box .forms .form-wrapper .input-wrapper {
  width: 100%;
}
.box .forms .form-wrapper .input-wrapper .input-item {
  margin: 12px 0;
}
.box .forms .form-wrapper .input-wrapper .input-item .input-title {
  margin: 10px, 0;
  font-weight: 600;
  font-size: 18px;
}
.box .forms .form-wrapper .input-wrapper .input-item .ipt {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
}
.box .forms .form-wrapper .input-wrapper .input-item .ipt:focus {
  border: 2px solid black;
}
.box .forms .form-wrapper .input-wrapper .input-item .tips {
  margin: 4px 0;
  font-size: 14px;
  font-weight: 100;
}
.box .forms .form-wrapper .input-wrapper .get-code {
  display: flex;
  width: 100%;
  height: 40px;
}
.box .forms .form-wrapper .input-wrapper .get-code .ipt {
  display: inline-block;
  width: 70%;
  border-radius: 8px 0 0 8px;
}
.box .forms .form-wrapper .input-wrapper .get-code .btn {
  width: 30%;
  border-radius: 0 8px 8px 0;
}
.box .forms .form-wrapper .input-wrapper .btn {
  background-color: #000;
  border: 0;
  color: #fff;
}
.box .forms .form-wrapper .input-wrapper .login {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}
.box .forms .form-wrapper .input-wrapper .register-tips {
  text-align: center;
  color: #8a8a8a;
}
.box .forms .form-wrapper .input-wrapper .register-tips span {
  cursor: pointer;
  color: black;
}
.box .pic {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0 10px 10px 0;
}
.box .pic .pic-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  word-spacing: 11px;
  z-index: 1;
  font-weight: 600;
}
.box .pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  animation: photo-animation 120s;
}

@keyframes photo-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1024px) {
  .box {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .box .forms {
    width: 100%;
    border-radius: 0;
  }
  .box .forms .form-wrapper {
    width: 75%;
  }
  .box .pic {
    display: none;
  }
}/*# sourceMappingURL=login.css.map */